@import 'tailwindcss';
@import 'lenis/dist/lenis.css';

@theme inline {
  --font-primary: var(--font-brico);
  --font-secondary: var(--font-syne);
  --color-accent: #ebf400;
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  body {
    @apply font-secondary;
  }
}
